# Byte-compiled / optimized / DLL files
__pycache__/
*.pyo
*.pyc
*.pyd

# Pickled classifiers
*_classifier.pickle
*_encoder.pickle

#remove backup files
*.*~

#Pycharm
.idea/

#Latex
article/*
!article/zwitscher.pdf

#Dimlex data
zwitscher/data/dimlex-documentation.txt
zwitscher/data/dimlex.xml

#R
.Rhistory
