# Byte-compiled / optimized / DLL files
__pycache__/
*.pyo
*.pyc
*.pyd

# Pickled classifiers
*_classifier.pickle
*_encoder.pickle

#remove backup files
*.*~

#Pycharm
.idea/

#Latex
article/*
!article/zwitscher.pdf

#Dimlex data
zwitscher/data/dimlex_secret.xml

#R
.Rhistory

#Classifiers excluded
zwitscher/data/classifiers/*
!zwitscher/data/classifiers/default_argspan_classification_dict.pickle
!zwitscher/data/classifiers/default_sentdist_classification_dict.pickle
!zwitscher/data/classifiers/classifier.log
